### {{ preset }} HPC configuration for EzHPCy.

# Note: For whatever reason, DTU uses PBS Pro for `linuxsh`-like queues,
# but LSF for everything else (batch, GPU interactive, ...).
# This is reflected in the configuration below.

log_level = "INFO"
auto_provision = true

[profile.base.connection]
ssh_keepalive_interval_seconds = 30
password_keyring = false  # Enable fetching password via system keyring, set with `ezhpcy keyring`
password_prompt = true  # Enable prompting for password on the command line

[profile.base.timings]
queue_timeout_seconds = 900
worker_startup_timeout_seconds = 60
worker_heartbeat_interval_seconds = 30
worker_heartbeat_timeout_seconds = 90
job_poll_interval_seconds = 2.5
job_monitor_interval_seconds = 60

[profile.dtu-base]
description = "DTU HPC"
inherit = "base"
connection.host = "login.hpc.dtu.dk"
connection.user = {{ user | tojson }}

[profile.dtu-base-lsf]
description = "DTU HPC LSF based queues"
inherit = "dtu-base"
scheduler.type = "LSF"

[profile.dtu-base-lsf.lsf]
resource_reserve_per_task = true
application_profile = "qrsh"
submission_environment = { }
export_environment = []

[profile.dtu-base-pbs]
description = "DTU HPC PBS Pro based queues"
inherit = "dtu-base"
scheduler.type = "PBS"
pbs.command_directory = "/opt/pbspro/bin"

### Interactive Queues
[profile.dtu-linuxsh]
description = "DTU interactive Linux nodes via linuxsh"
inherit = "dtu-base-pbs"
scheduler.submission_mode = "interactive"
scheduler.interactive_submission_command = ["/lsf/local/bin/linuxsh"]

[profile.dtu-bigmemlinuxsh]
description = "DTU interactive Linux nodes via bigmemlinuxsh"
inherit = "dtu-base-pbs"
scheduler.submission_mode = "interactive"
scheduler.interactive_submission_command = ["/lsf/local/bin/bigmemlinuxsh"]

### GPU Interactive Queues
[profile.dtu-a100sh]
description = "DTU interactive A100 GPUs via a100sh"
inherit = "dtu-base-lsf"
scheduler.submission_mode = "interactive"
scheduler.interactive_submission_command = ["/lsf/local/bin/a100sh"]

[profile.dtu-voltash]
description = "DTU interactive Volta GPUs via voltash"
inherit = "dtu-base-lsf"
scheduler.submission_mode = "interactive"
scheduler.interactive_submission_command = ["/lsf/local/bin/voltash"]

[profile.dtu-sxm2sh]
description = "DTU interactive SXM2 GPUs via sxm2sh"
inherit = "dtu-base-lsf"
scheduler.submission_mode = "interactive"
scheduler.interactive_submission_command = ["/lsf/local/bin/sxm2sh"]

### GPU Batch Queues
[profile.dtu-gpul40s]
description = "DTU L40S GPU queue"
inherit = "dtu-base-lsf"
scheduler.submission_mode = "batch"

[profile.dtu-gpul40s.resources]
queue = "gpul40s"
cores = 8
time_limit = "1:00"
memory = "32GB"
