# {{ preset }} HPC configuration for EzHPCy.

log_level = "INFO"
auto_provision = true

[profile.base]
host = "login.hpc.com"
user = {{ user | tojson }}

scheduler = "LSF"
queue = "hpcint"

queue_timeout_seconds = 900
worker_startup_timeout_seconds = 60
