HostKey {{ remote_config_dir }}/ssh_host_ed25519_key
AuthorizedKeysFile {{ remote_config_dir }}/authorized_keys

StrictModes yes
PubkeyAuthentication yes
AuthenticationMethods publickey
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitEmptyPasswords no

PermitRootLogin no
AllowUsers {{ remote_username }}

HostbasedAuthentication no
PermitUserEnvironment no

AllowTcpForwarding yes
GatewayPorts no
AllowAgentForwarding no
X11Forwarding no
PermitTunnel no

UseDNS no
LogLevel INFO

Subsystem sftp internal-sftp
